<div class="container">
    <div class="wrapper">
        <a href="/" style="color: black;">
        <div class="TextHolder">
            <div class="Texts">
                <div class="FourOhFour">404</div>
                <div class="Maybe">GUH.. Maybe.. We have<span>PROBLEMS HERE</span></div>
                <div class="Bad">MY BAD this page couldn't be found.</div>
                <div class="Return">RETURN HOME</div>
            </div>
        </div>
        <div class="Body">
            <div class="LeftEye"></div>
            <div class="RightEye"></div>
            <div class="EyeShadows"></div>
            <div class="Mouth"></div>
            <div class="MouthShadows"></div>
            <div class="Theet"></div>
            <div class="BodyTexture"></div>
        </div>
        <div class="Horns">
            <div class="HornsExtras"></div>
        </div>
        <div class="LeftHand"></div>
        <div class="RightHand"></div>
    </a>
    </div>
    <h4>kachan_mixail@bk.ru</h4>
</div>