<div class="container">
    <div class="row">
        <div class="col-9">
        <div *ngIf="!news">
            <h3>Новости ненайдена</h3>
        </div>
        <h3 class="neader-news">{{news.header}}</h3>
        <img src="../../assets/images/test.jpg" alt="Новость">

        <p>{{news.dateTime | date}}</p>
        <p>
            {{news.body}}
        </p>
        <div>
            <a href="/news">Венутся ко все новостям</a>
        </div>
    </div>
    <div class="col-3">
        <h5>Последние новости</h5>
        <div *ngFor="let news of newsList">
           <a class="news-header" href="/news/{{news.id}}"><h6>{{news.header}}</h6></a>
            <i class="bi bi-calendar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-calendar" viewBox="0 0 16 16">
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
            </i>
            {{news.dateTime | date}}
            <p>{{news.shortDescription}}</p>
        </div>
    </div>
    </div>
</div>