<!-- Header -->
<div class="container">
    <div class="mb-50">
        <h1 class="section-title2 pr-0">
            <strong>Новости</strong>
        </h1>
        <div class="line-3-75">
        </div>
    </div>
</div>

<!-- Searche -->
<div class="container">
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Поиск" aria-label="Search"
            aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </span>
    </div>
    <div>
        <label for="selecpicker">поиск</label>
        <select class="mdb-select md-form">
            <option>за год</option>
            <option>за месяц</option>
            <option>Relish</option>
        </select>
    </div>
</div>

<!-- Loadr -->
<div class="container" *ngIf="!NewsList">
    <h4 style="text-align: center;">Новостей еще нет</h4>
    <app-loader></app-loader>
    <img>
</div>

<!-- Cards -->
<div class="container">
    <div class="row">
        <div id="content-card" class="col-lg-4 col-md-6" *ngFor="let item of NewsList">
            <div class="card">
                <a class="select-news" href="/news/{{item.id}}">
                    <img class="card-img-top" src="{{item.imageUrl}}" alt="Новости">
                </a>
                <div class="card-body">
                    <a class="select-news" href="/news/{{item.id}}">
                        <h5 class="card-title">{{item.header}}</h5>
                    </a>
                    <div class="date-news">
                        <i class="bi bi-calendar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg>
                        </i>
                        {{item.dateTime | date}}
                    </div>
                    <div class="card-text">{{item.shortDescription}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<img *ngIf="isShow" id="UpArrow" src="../../assets/images/gototop/up-arrow.png" (click)="gotoTop()">