<h5>Все продукты</h5>
<div class="row">
<div class="card">
    <img class="card-img-top" src="../../../assets/images/test.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
<div class="card">
    <a href="product/2">
    <img class="card-img-top" src="../../../assets/images/test.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    </a>
</div>
<div class="card">
    <a href="">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
    </a>
</div>