<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" routerLink="create-news">Добавить новость</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="review-news">Все новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="create-vacancies">Добавить вакансию</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="create">Disabled</a>
            </li>
        </ul>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>