#titel-deport{
    position: sticky;
    top: 10rem;
}
a:hover {
    border-bottom: 2px solid gray;
}
.line-3-75 {
    margin-top: 5px;
    margin-bottom: 12px;
    height: 3px;
    width: 90px;
    background: #323336;
}