<!-- Header -->
<!-- <div class="container"> -->
    <!-- HeaderEnd -->
    
    <div class="container">
        <div class="row">
            <div class="mb-50">
                <h2 class="section-title2 pr-0">
                    <strong>Продукция</strong>
                </h2>
                <div class="line-3-75">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div id="titel-deport">
                    <h5>Каталог</h5>
                    <div id="list-example" class="list-group">
                        <a class="list-group-item list-group-item-action" href="/product">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                            </svg> Все продукты</a>
                        <a class="list-group-item list-group-item-action" routerLink="app-prod">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg> Автоцистерны для пищевых продуктов</a>
                        <a class="list-group-item list-group-item-action" routerLink="an-prod">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg> Автоцистерны для нефтепродуктов </a>
                        <a class="list-group-item list-group-item-action" routerLink="as-prod">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                            </svg> Автоцистерны для СУГ</a>
                        <a class="list-group-item list-group-item-action" routerLink="">Другие прод</a>
                        <a class="list-group-item list-group-item-action" routerLink="">Другие прод</a>
                        <a class="list-group-item list-group-item-action" routerLink="">Другие прод</a>
                        <a class="list-group-item list-group-item-action" routerLink="">Другие прод</a>
                        <a class="list-group-item list-group-item-action" routerLink="">Другие прод</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
<!-- </div> -->
<img *ngIf="isShow" id="UpArrow" src="../../assets/images/gototop/up-arrow.png" (click)="gotoTop()">