<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="nav-wrapper">
    <div class="container-m-30 clearfix">

      <div class="logo-row">
        <div class="logo-container-2 hidden-sm display-xxs-no">
          <div class="logo-2">
            <a href="/" class="clearfix">
              <img src="../../../assets/images/fl_cut.png" class="logo-img" alt="Логотип МАЗ" style="overflow: hidden;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="topnav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" href="/home">Главная</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="/product">Продукция</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/contact">Контакты</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/history">О предприятии</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/news">Новости</a>
        </li>
      </ul>
    </div>
    <div id="login_btn">
      <i *ngIf="!flag" (click)="onLogin()"><img src="../../../assets/images/login.png" alt="Логин"></i>
      <i *ngIf="flag" (click)="UserProfile()"><img src="../../../assets/images/User.png" alt="Пользвотель"></i>
    </div> 
  </div>
</nav>