<!-- <h1>Home components</h1> -->
<app-carousel></app-carousel>

<div class="container">

    <div class="mb-50">
        <h1 class="section-title2 pr-0">
            <strong>Последние новости</strong>
            <a href="/news" class="section-more right">Все новости</a>
        </h1>
        <div class="line-3-75">
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <a href="/">
                <h5><strong>Заголовок новости новости новости новости новости новости новостиновости новости новости
                        новости </strong></h5>
            </a>
        </div>
        <div class="col-2">
            <span>
                <strong>Дата публикации</strong>
                <h6>21-09-2021</h6>
            </span>
        </div>
        <div class="col-10">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eligendi architecto, ab doloribus
                aspernatur doloremque soluta rem? Nihil praesentium, dignissimos cupiditate, aspernatur officiis eum
                reiciendis repellat tempora optio nesciunt, soluta omnis odit fugit natus quas placeat perspiciatis
                doloribus. Reprehenderit iure ab est earum natus aliquam ex obcaecati quam eaque beatae?</p>
        </div>
    </div>
    <div class="mb-50">
        <h1 class="section-title2 pr-0">
            <strong>Реквизиты предприятия</strong>
            <a href="/contact" class="section-more right">Все контакты</a>
        </h1>
        <div class="line-3-75">
        </div>
        <div class="container">
            <div class="row">
                <h5>ОАО "Гродненский механический завод"</h5>
            </div>
            <div class="row">
                <p><strong>Расчетный счет:</strong>
                
                    BY95SLAN30123385400280000000 ЗАО Банк ВТБ (Беларусь)</p>
                    <span>
                        <p> г. Минск код SLANBY22
                            УНН 500013376 ОКПО 05808215</p>
                    </span>
            </div>
            <div class="row">
                <p><strong>Адрес:</strong> РБ, Гродно, Карского 20, 230003</p>
            </div>
            <div class="row">
                <p><strong>Телефон:</strong> +375(152)71-99-00</p>
            </div>
            <div class="row">
                <p><strong>Факс:</strong> +375(152)71-99-00</p>
            </div>
            <div class="row">
                <p><strong>Email:</strong> gmz@gmz.by</p>
            </div>
        </div>
        <div class="mb-50">
            <h1 class="section-title2 pr-0">
                <strong>Актуальные вакансии</strong>
                <a href="/contact" class="section-more right">Все ваканьсии</a>
            </h1>
            <div class="line-3-75">
            </div>
        </div>