<!-- <h1>Home components</h1> -->
<app-carousel></app-carousel>

<div class="container">

    <div class="mb-50">
        <h1 class="section-title2 pr-0">
            <strong>Последние новости</strong>
            <a href="/news" class="section-more right">Все новости</a>
        </h1>
        <div class="line-3-75">
        </div>
    </div>

    <div class="row" *ngFor="let news of ListNews">
        <div class="col-10">
            <a href="/">
                <h5>
                    <strong>
                        {{news.header}}
                    </strong>
                </h5>
            </a>
        </div>
        <div class="col-2">
            <span>
                <strong>Дата публикации:</strong>
                <h6>{{news.dateTime | date: 'dd-MM-yyyy'}}</h6>
            </span>
        </div>
        <div class="col-10">
            <p>
                {{news.body}}
            </p>
        </div>
    </div>
    <div class="mb-50">
        <h1 class="section-title2 pr-0">
            <strong>Реквизиты предприятия</strong>
            <a href="/contact" class="section-more right">Все контакты</a>
        </h1>
        <div class="line-3-75">
        </div>
        <div class="container">
            <div class="row">
                <h5>ОАО "Гродненский механический завод"</h5>
            </div>
            <div class="row">
                <p><strong>Расчетный счет:</strong>

                    BY95SLAN30123385400280000000 ЗАО Банк ВТБ (Беларусь)</p>
                <span>
                    <p> г. Минск код SLANBY22
                        УНН 500013376 ОКПО 05808215</p>
                </span>
            </div>
            <div class="row">
                <p><strong>Адрес:</strong> РБ, Гродно, Карского 20, 230003</p>
            </div>
            <div class="row">
                <p><strong>Телефон:</strong> +375(152)71-99-00</p>
            </div>
            <div class="row">
                <p><strong>Факс:</strong> +375(152)71-99-00</p>
            </div>
            <div class="row">
                <p><strong>Email:</strong> gmz@gmz.by</p>
            </div>
        </div>
        <div class="mb-50">
            <h1 class="section-title2 pr-0">
                <strong>Актуальные вакансии</strong>
                <a href="/contact" class="section-more right">Все вакансии</a>
            </h1>
            <div class="line-3-75">
            </div>
        </div>
        <div>
            <h3>
                Здесь будут вакансии на работу !
            </h3>
        </div>